
@{
    Layout = null;
}

<footer>
    <p>
        For questions about completing the survey please contact us at <a href="mailto:mailto:surveys@performanceprograms.com">email</a>. <br>
        &copy; @DateTime.Now.Year -Lahey Health. All rights reserved.
    </p>
</footer>