
@{
    Layout = null;
}

<footer>
    <p>
        For questions on content or next steps, please contact  <a href="mailto:Allison.Davis@Lahey.org">Allison.Davis@Lahey.org</a> or 781.744.5714<br />
        For technical site issues please contact <a href="mailto:Surveys@PerformancePrograms.com">Surveys@PerformancePrograms.com</a><br />
        <br />
        &copy; @DateTime.Now.Year -Lahey Health. All rights reserved.
    </p>
</footer>

