@model LaheyHealth.ViewModels.ResultsViewModel


@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <h2>Results:</h2>
    </div>
    
    <!-- Results table needs to have columns: Item, Subscale, Scale -->
    <table class="table">
        <tr>
            <th>
                Item
            </th>
            <th>
                Subscale
            </th>
            <th>
                Scale
            </th>
            <th>
                Score | Will be removed, used to make sure all data is displayed correctly
            </th>
        </tr>
        <!-- For loop of items that will be shown in the view -->
        @if (Model.lstEmpty()) { 
        foreach(var item in Model.LstScores)
        {
            <tr>
                <td>
                    @item.Item.Name
                </td>
                <td>
                    @item.Subscale.Name
                </td>
                <td>
                    @item.Scale.Name
                </td>
                <td>
                    @item.Score
                </td>
            </tr>
            
            }
        }
    </table>
</div>

