@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    address for laheys
</address>

<address>
    <strong>Contact information:</strong>   <a href="mailto:Support@example.com">contact@lahey.com</a><br />
</address>