body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/***********************
    CUSTOM CSS 
    STARTS HERE
***********************/


footer {
    background-color:#62bb46;
    color:#ffffff;
    min-height:80px;
}

footer p{
    padding:30px 20px;
}

footer a:hover, footer a:visited, footer a{
    color:#ffffff;
}


h2{
    font-weight:bold;
    color:#468732;
}

h1{
    font-weight:bold;
}

/*
    Current spot in poll
    Intrduction, Questionnaire, Results
*/
.youAreHere h1{
    padding-left:20px;
}

/*
    Getting the bootstrap button to wrap
*/

.btn{
    white-space:normal;
}

/*
    Responsive video css
*/

@media only screen and (max-width: 1500px) {
    .responsive-video{
        width:560px;
        height:305px;
    }
}

@media only screen and (max-width: 750px) {
    .responsive-video{
        width:400px;
        height:200px;
    }
}

@media only screen and (max-width: 500px) {
    .responsive-video{
        width:225px;
        height:120px;
    }
}